:root {
  --yellow: #ffcb05;
  --blue: #3d7dca;
  --dark-blue: #003a70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: var(--blue);
}