.App {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App form {
  margin-bottom: 40px;
}

.App form input {
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 190px;
  margin-right: 10px;
  outline: none;

  border: 2px solid silver;
  font-size: 1rem;
  font-weight: bold;
}

.App form button {
  padding: 10px 20px;
  cursor: pointer;
  background: var(--yellow);
  color: #fff;

  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
}

.App form button:hover {
  filter: brightness(90%);
}

.App form button:disabled {
  background: #c0c0c0;
  cursor: not-allowed;
}

.poke-infos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 5px solid var(--dark-blue);
  border-radius: 10px;
  padding: 20px 50px;
}

.poke-infos-container header {
  margin-bottom: 10px;
}

.poke-infos-container header span {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.poke-infos-container main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.app-message {
  color: #fff;
}

@media (max-width: 780px) {
  .app-message {
    width: 90%;
  }

  .poke-infos-container main {
    grid-template-columns: 1fr 1fr;
  }

  .poke-infos-container {
    width: 90%;
  }
}